.wd-margins {
    margin: 5px;
}

.wd-gear {
    position: absolute;
    text-decoration: none;
    font-size: 30px;
    vertical-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    color: white;
}

.wd-magnify-glass {
    font-size: 20px;
    top: 15px;
    left: 20px;
    z-index: 1;
}

.wd-back-button {
    color: blue;
    text-decoration: none;
}

.wd-navigation-icon {
    float: left;
}


.wd-search-bar {
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}

.wd-search-bar-area {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 5px;
}

.wd-tweet-button1 {
    width: 100%;
    border-radius: 40px;
    horiz-align: left;
}

.wd-tweet-button2 {
    width: 150%;
    border-radius: 40px;
    horiz-align: left;
}

.wd-list-group-item-override {
    padding-left: 8px;
    padding-right: 8px;
}

.wd-suggested-follow {
    height: 60px;
}

.wd-profile-pic-container{
    float: left;
    width: 40px;
    height: 40px;
}

.wd-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.wd-follow-info{
    width: 80%;
    height: 100%;
}

.wd-certificate {
    padding-top: 2px;
    padding-bottom: 2px;
}

.wd-profile-name{
    width: 100%;
    font-size: 12px;
    color: white;
}

.wd-handle-name{
    font-size: 12px;
    width: 100%;
    color: lightgray;
}

.wd-follow{
    border-radius: 40px;
    right: 6px;
    top:17%;
}


.wd-image{
    width: 100%;
    height: auto;
}

.wd-image-text{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: white;
    font-size: xx-large;
}

.wd-post-container{
    height: auto;
}

.wd-post-with-image{
    width: 85%;

    float: left;
}

.wd-posts-image-container{
    width: 15%;

    float: right;
}

.wd-post-image {

    width: 100%;
    border-radius: 10px;

}

.wd-topic {
    font-size: 14px;
    color: gray;
    width: 100%;
    height: auto;

}

.wd-author {
    width: 100%;
    font-size: 16px;
    color: white;
    height: auto;

}

.wd-content {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: white;

}

.wd-time{
    color: gray;
    font-size: 14px;
}

.wd-tweets{
    color: gray;
    font-size: 14px;
}

.wd-custom-border {
    border-style: solid;
    border-color: #2f3336;
    overflow: auto;
}


.wd-other-link {
    color: #6e767d;
}

.wd-bg-dark-gray{
    background-color: rgba(43,49,52,0.87);
}

.wd-light-gray{
    color: rgba(211, 211, 211, 0.27);
}

.wd-bg-gray {
    background-color: rgba(29,34,37,0.87);
}


.nav-tabs{
    border: none;
    padding-top: 3px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #1da1f2;
    border-width: 3px;
    color: white;

}


.list-group-item.active{
    border: none;
    color: white;
}

.wd-bg-light-blue{
    background-color: #0c8ae4;
}

.wd-list-group-override {
    border-radius: 20px;
}