.wd-custom-border {
    border-style: solid;
    border-color: #2f3336;
    overflow: auto;
}

.wd-margin-left {
    margin-left: 16px;
}

.wd-search-bar {
    border-radius: 50px;
    width: 90%;
    color: white;
    background-color: darkgray;
    height: 30px;
    margin: 10px 12px 10px 16px;
}

.wd-gear {
    text-decoration: none;
    font-size: 30px;
    vertical-align: middle;
}

.wd-link-section {
    height: 60px;
    width: 100%;
}

.wd-for-you-link, .wd-other-link {
    text-decoration: none;
    font-size: 15px;
    padding: 16px 16px 16px 16px;

}

.wd-for-you-link {
    color: #1da1f2;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 16px 0px;

}

.wd-other-link {
    color: #6e767d;
}


.wd-post {
    color: white;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: block;
}

.wd-post-no-image {
    width: 100%;
    height: 130px;
    float: left;
}


.wd-post-with-image {
    width: 85%;
    height: 130px;
    float: left;
}

.wd-image-container {
    width: 15%;
    height: 130px;
    float: right;

}

.wd-image {
    width: 100px;
    height: 100px;
    border-radius: 40px;
    padding: 16px;

}

.wd-bg-black {
    background: black;
}

.wd-back-button {
    color: blue;
    text-decoration: none;
}

.wd-topic, .wd-author {
    margin: 3pt;
    padding: 30px 0px 0px 10px;
}

.wd-likes, .wd-title {
    margin: 3pt;
    padding: 0px 0px 0px 10px;
}

.wd-topic, .wd-likes, .wd-date {
    color: #6e767d;
    font-size: 13px;
}

.wd-title, .wd-author {
    color: white;
    font-size: 16px;
}

.wd-bookmarks {
    color: white;
    font-size: 20px;
    margin: 12px 0px 0px 16px;
}

.wd-handle {
    color: lightgray;
    font-size: 13px;
    margin: 0px 0px 12px 16px;
}

.wd-bookmarks-border {
    border-bottom: solid lightgray 1px;
    width: 600px;
}

.wd-bookmarks-whole {
    overflow: auto;
    margin-bottom: 40px;
}

.wd-bookmarks-left-side {
    height: 100%;
    float: left;
}

.wd-bookmarks-right-side {
    height: auto;
    float: left;
    width: 600px;
}

.wd-profile-pic {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    margin: 12px 0px 0px 16px;
    float: left;
}

.wd-tuit-author {
    margin: 12px 0px 0px 16px;
    font-size: 15px;
    color: white;
    display: inline-block;
}

.wd-tuit-handle {
    color: lightgray;
}

.wd-tuit-content {
    max-width: 506px;
    color: white;
    font-size: 15px;
    margin: 0px 12px 12px 16px;
}

.wd-tuit-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0px 0px 0px 12px;
    border: solid lightgray 1px;
    display: inline-block;
    vertical-align: middle;
}

.wd-tuit-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 12px;
    max-width: 480px;
    margin: 0px 0px 0px 12px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid lightgray 1px;
    display: inline-block;
    vertical-align: middle;
}

.wd-tuit-title-text {
    color: lightgray;
    font-weight: normal;
}

.wd-tuit-image-border {
    border: solid lightgray 1px;
}

.wd-icons {
    margin: 12px 0px 0px 12px;
    width: 80%;
    height: 40px;
}

.wd-icon-colors {
    text-decoration: none;
    color: lightgray;
}

.wd-icons a > img {
    color: lightgray;
    height: 30px;
    width: 30px;
}

.wd-heart {
    text-decoration: none;
    color: red;
}

